body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ball {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
}

.hole {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
}