* {
   box-sizing: border-box;
   font-family: 'Lato', sans-serif;
   line-height: 2px;
}

body {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin:0;
}

canvas {
    background-color: aliceblue;
}